
header {
  background-color: rgb(127, 167, 219);
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  margin: 0px;
  background-color: rgb(118, 136, 101);
}

main {
  margin-left: 10px;
  text-align: center;
}

headers {
  color: rgb(164, 219, 233);
  font-size: 35px;
  text-decoration: none;
}

li {
  font-size: 25px;
  text-align: left;
  color:saddlebrown;
}

.text {
  font-size: 30px;
  text-align: left;
  color:teal;
}

.text1 {
  padding-top: 20px;
  font-size: 30px;
  text-align: left;
  color:rgb(36, 36, 15);
}

.text2 {
  padding-top: 10px;
  font-size: 30px;
  text-align: left;
  color:rgb(25, 23, 122);
}

.button {
  border-radius: 10px;
  background-color: linear-gradient(top, rgba(51, 226, 28, 0), rgba(67, 145, 165, 0.2));
  font-size: 40px;
  margin-left: auto;
  margin-right:auto;
  color: rgb(153, 18, 41);
  margin-top: 20px;
}
.button:hover {
  background-color: springgreen;
}

.pred {
  font-size: 50px;
  font-weight: 700;
  align-items: center;
}
.headers {
  padding-top: 10px;
  font-size: 35px;
  text-shadow: 2px 2px red;
  color:rgb(23, 20, 78);
}