header {
  background-color: rgb(127, 167, 219);
  padding-left: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

body {
  margin: 0px;
}

main {
  margin-left: 10px;
  text-align: center;
}

headers {
  color: rgb(164, 219, 233);
  font-size: 3px;
  text-decoration: none;
}

li {
  font-size: 25px;
  text-align: left;
  color: saddlebrown;
}

.text {
  font-size: 30px;
  text-align: left;
  color: rgb(34, 197, 97);
}

.text1 {
  padding-top: 20px;
  font-size: 30px;
  text-align: left;
  color: rgb(36, 36, 15);
}

.text2 {
  padding-top: 20px;
  font-size: 30px;
  text-align: left;
  color: rgb(60, 37, 165);
}

.text3 {
  padding-top: 50px;
  font-size: 30px;
  padding-left: 100px;
  color: rgb(36, 96, 107);
}
.tex3 {
  padding-top: 150px;
  font-size: 30px;
  text-align: center;
  color: rgb(133, 21, 185);
}

.pred {
  font-size: 50px;
  font-weight: 100;
  color: rgb(85, 7, 13);
}

.button {
  border-radius: 10px;
  font-size: 40px;
  margin-left: auto;
  margin-right: 50px;

  color: rgb(153, 18, 41);
  margin-top: 20px;
}

.button:hover {
  background-color: springgreen;
  cursor: pointer;
}

.button1 {
  border-radius: 10px;
  font-size: 30px;
  margin-left: 10px;
  text-decoration: none;
  color: rgb(27, 4, 8);
  margin-top: 0px;
}
.button1:hover {
  color: springgreen;
  cursor: pointer;
}

.headers {
  padding-top: 30px;
  font-size: 35px;

  color: rgb(23, 20, 78);
}

.headers1 {
  padding-top: 50px;
  font-size: 35px;
  display: flex;
  color: rgb(23, 20, 78);
}

p {
  text-align: left;
  font-size: 40px;
  font-weight: 800;
  color: red;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}
